////////////////////////
// Typography
//
// All of the typography variables and definitions
// should go here.
////////////////////////

// Imports
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700,400);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

// Font Declarations
.open-sans {
  font-family: 'open sans', georgia, serif;
  font-weight: 400;
}
.open-sans--italic {
  @extend .open-sans;
  font-weight: 400;
  font-style: italic;
}
.open-sans--light {
  @extend .open-sans;
  font-weight: 300;
}
.open-sans--light-italic {
  @extend .open-sans;
  font-weight: 300;
  font-style: italic;
}

.georgia {
  font-family: 'georgia';
  font-weight: 100;
}

.merriweather {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
// Page Copy
.content {
  h2 {
     font-family: "Bree Serif";
     font-size: 97px;
     line-height: 90px;
     font-weight: 400;
     font-style: normal;
     letter-spacing: 0px;
  }
  p {
    font-size: 19px;
    line-height: 27px;
    color: $text-color;
    font-family: "Vollkorn";
    font-weight: 400;
    font-style: normal;
    
    span.dropcap {
       color: #333333;
       font-size: 95px;
       line-height: 60px;
       font-family: Georgia;
    }
    &.intro {
      font-family: "Vollkorn";
      font-size: 26px;
      line-height: 39px;
      font-weight: 400;
      font-style: normal;
    }

    &.pullquote {
      font-size: 22px;
      font-family: "Vollkorn";
      font-weight: 400;
      font-style: italic;
    }
  }
    
  
}
///////////////////////
// Vertical Rhythm
// all spacing calculations should be based off of these variables.
//////////////////////
$base-font-size: 18px;
$base-line-height: 30px;
@include establish-baseline();
