////////////////////////
// Typography
//
// All of the typography variables and definitions
// should go here.
////////////////////////

// Imports
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);

// Font Declarations
.open-sans {
  font-family: 'open sans', georgia, serif;
  font-weight: 400;
}
.open-sans--italic {
  @extend .open-sans;
  font-weight: 400;
  font-style: italic;
}
.open-sans--light {
  @extend .open-sans;
  font-weight: 300;
}
.open-sans--light-italic {
  @extend .open-sans;
  font-weight: 300;
  font-style: italic;
}

.georgia {
  font-family: 'georgia';
  font-weight: 100;
}

.merriweather {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

///////////////////////
// Vertical Rhythm
// all spacing calculations should be based off of these variables.
//////////////////////
$base-font-size: 18px;
$base-line-height: 30px;
@include establish-baseline();
