////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


// Padding
$main-content-padding: 4em;

// Colors
$background-color: #f4f4f4;
$text-color: #313131;
$pullquote-color:#333;
$link-color: #E6566E;


// Breakpoints
