////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


// Padding
$main-content-padding: 4em;

// Colors
$background-color: #D6C195;
$text-color: #312c21;
$link-color: #E6566E;
