@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php');
}

img, video {
  max-width: 100%;
  height: auto;
}

.open-sans, .open-sans--italic, .open-sans--light, h1, .h1, h2, .h2, h3, .h3, .open-sans--light-italic, body {
  font-family: 'open sans', georgia, serif;
  font-weight: 400;
}

.open-sans--italic {
  font-weight: 400;
  font-style: italic;
}

.open-sans--light, h1, .h1, h2, .h2, h3, .h3 {
  font-weight: 300;
}

.open-sans--light-italic {
  font-weight: 300;
  font-style: italic;
}

.georgia {
  font-family: 'georgia';
  font-weight: 100;
}

.merriweather, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

html {
  font-size: 112.5%;
  line-height: 1.66667em;
}

/**
 * @param $selector Name of the psuedo selector
 */
.page-admin-appearance-styleguide #admin-menu,
#toolbar {
  display: none;
}

.styleguide {
  padding-left: 1.2em;
  padding-right: 1.2em;
}
@media (min-width: 40em) {
  .styleguide {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media (min-width: 60em) {
  .styleguide {
    padding-left: 4em;
    padding-right: 4em;
  }
}

body {
  font-size: 1em;
  line-height: 1.66667em;
  background-color: #d6c195;
  color: #312c21;
  display: block;
}

h1, .h1 {
  font-size: 3em;
  line-height: 1.11111em;
  line-height: 130%;
}

h2, .h2 {
  font-size: 2.5em;
  line-height: 1.33333em;
  line-height: 130%;
}

h3, .h3 {
  font-size: 2em;
  line-height: 1.66667em;
  line-height: 130%;
}

h4, .h4 {
  font-size: 1.5em;
  line-height: 2.22222em;
  line-height: 150%;
}

h5, .h5 {
  font-size: 1.2em;
  line-height: 1.38889em;
  line-height: 150%;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.66667em;
  line-height: 150%;
}

a {
  color: #e6566e;
}
a:hover {
  color: #ed8294;
}

/* No files to import found in partials/pages/**\/* */
