/*
Syntax error: Undefined variable: "$text-color".
        on line 12 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/partials/global/_extendables.scss
        from line 2 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss
        from line 18 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss

Backtrace:
/Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/partials/global/_extendables.scss:12
/Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss:2
/Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss:18
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/script/tree/node.rb:50:in `perform'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:88:in `block in with_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:88:in `with_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:88:in `block in with_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:88:in `with_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:121:in `with_frame'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/stack.rb:79:in `with_base'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/sass-3.3.2/lib/sass/engine.rb:274:in `render'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:153:in `timed'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:166:in `block in compile'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/logger.rb:46:in `red'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:165:in `compile'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:127:in `each'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:127:in `block in run'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:153:in `timed'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/compiler.rb:126:in `run'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/commands/update_project.rb:49:in `perform'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/commands/base.rb:18:in `execute'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/commands/project_base.rb:19:in `execute'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/bin/compass:30:in `block in <top (required)>'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/bin/compass:44:in `call'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/gems/compass-1.0.0.alpha.18/bin/compass:44:in `<top (required)>'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/bin/compass:23:in `load'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/bin/compass:23:in `<main>'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/bin/ruby_executable_hooks:15:in `eval'
/Users/michaelpotter/.rvm/gems/ruby-2.1.1@aurora_starter/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$text-color\".\A         on line 12 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/partials/global/_extendables.scss\A         from line 2 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss\A         from line 18 of /Users/michaelpotter/Documents/Websites/aurora_test/sites/all/themes/aurora_starter/sass/style.scss"; }
